@font-face {
  font-family: 'dynomite';
  src: url('./fonts/Dynomite.woff2');
}

@font-face {
  font-family: 'inter';
  src: url('./fonts/inter.woff2');
}

@font-face {
  src: url('./fonts/edu-nsw-act-hand-pre.woff2');
  font-family: 'edu-nsw-act-hand-pre';
}

:root {
  --clr-dominant: #F5E6C8;
  --clr-secondary: #FFD21F;
  --accent-clr: #C62828;
  --text-clr: #2B2118;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'inter';
  color: var(--text-clr);
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-dominant);
}

header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  background-color: var(--clr-secondary);
  padding: 0 10px;
  padding-bottom: 10px;
}

h1 {
  background-color: var(--clr-dominant);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 10px;
  font-weight: normal;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 > img {
  width: 32px;
  height: 32px;
  margin-bottom: 4px;
}

h1 > span {
  font-family: 'dynomite';
}

nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

button {
  border: none;
  font-size: 1rem;
  background: transparent;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

#content {
  flex-grow: 1;
}

.card {
  display: grid;
  gap: 16px;
  padding: 16px;
}

h2 {
  justify-self: center;
  font-family: 'edu-nsw-act-hand-pre';
  line-height: 1;
}

ul {
  display: grid;
  gap: 8px;
  font-size: 1.125rem;
  list-style: none;
}

li {
  font-size: 0.875rem;
  font-weight: normal;
}

.text-secondary {
  color: rgb(43 33 24 / 0.7);
  
}

.card img {
  width: 75px;
}

.card > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

h3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin-bottom: 4px;
}

footer {
  background-color: var(--clr-secondary);
  padding: 6px;
  font-size: 0.85rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

footer img {
  width: 16px;
  height: 16px;
}

@media (max-width: 580px) {
  nav {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
}